<%- include('partials/_header'); -%>

  <main 
      class="container mt-5 mx-auto"
      style="margin: 1em;"
  >
    <h3>Create TinyURL</h3>
    <% if (title) { %>
      <h5><%= title %></h5>
    <% } %>
    <form class="form-inline" 
          action="/urls/new"
          method="POST"
    >
      <div class="form-group mb-2">
        <label for="longURL">Enter a URL:</label>
        <input 
            class="form-control" 
            type="text" 
            name="longURL" 
            placeholder="http://" 
            style="width: 300px; margin: 1em"
        >
        <button 
            type="submit" 
            class="btn-login button-custom-dark"
        >
          Submit
        </button>
      </div>
    </form>
  </main>
<%- include('partials/_footer'); -%>