<%- include('partials/_header'); -%>
<main>
  <div class="text-center jumbotron bg-white">
    <h1>Did you get lost?</h1>
    <hr class="my-3">
    <p>Sorry We could not find your route</p>
  </div>
</main>




<%- include('partials/_footer'); -%>