<%- include('partials/_header'); -%>
<main>
  <div class="text-center jumbotron background-solid">
    <h1>Did you get lost?</h1>
    <p>Sorry We could not find your route</p>
  </div>
</main>




<%- include('partials/_footer'); -%>