<%- include('partials/_header'); -%>
<main>
  <div class="text-center jumbotron background-solid">
    <h1>Welcome to Tiny App</h1>
    <hr class="my-3">
    <p>A URL shortener developed by Heisey</p>
  </div>


  
</main>




<%- include('partials/_footer'); -%>