<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ~~ Bootstrap CDN -->
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
      crossorigin="anonymous"
    >

    <!-- ~~ Custom Css -->
    <link 
      rel="stylesheet"
      href="./styles/main.css"
    >
    <title>Tiny App</title>
  </head>
  <body class="background-solid">
    <header id="mainHeader" class="background-gradient">
      <%- include('_nav'); -%>
    </header>
    