<nav id="mainNav" class="navbar padding-large navbar-expand-md navbar-light container mx-auto">
  <a class="navbar-brand" href="/urls">TinyApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/urls">My URLs</a>
      <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
    </div>

    

    <% if (user) { %>
      <div class="mx-auto user-welcome">
        <h4>
          Welcome <span><%= user.username %>: </span> <%= user.email %>
        </h4>
      </div>
      <div class="navTop ml-auto d-flex">
        <div>
          <form class="ml-3" method="POST" action="/user/logout">
            <button type="submit" class="btn-logout btn-custom-dark">Logout</button>
          </form>
        </div>
      </div>
      
      <% } else { %>
      <div class="ml-auto navTop">
        <button 
            class="btn-login btn-custom-dark" 
            type="button"
            data-toggle="modal"
            data-target="#signInModal"
        >
          Sign In
        </button>
        
        <a href="/user/signup">
          <button class="btn-signup btn-custom-light mx-3">
            Sign Up
          </button>
        </a>
        </button>
      </div>
    <% } %>
    
  </div>
</nav>


<%- include('sign_in_modal') -%>