.background-gradient {
  background-color: #8EC5FC;
  background-image: linear-gradient(180deg, #8EC5FC 0%, #E0C3FC 100%);
}

.background-solid {
  background-color: #E0C3FC
}

.background-input {
  background-color: #EBD7FD;
}

.btn-signup {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(252,255,8,1) 0%, rgba(255,223,12,1) 50.2%, rgba(255,201,4,1) 90% );
}

.btn-logout {
  padding-left: 13px !important;
  padding-right: 13px !important;
  background-image: linear-gradient( 69.7deg,  rgba(216,81,82,1) 40%, rgba(154,27,69,1) 100.1% );
}

.btn-login {
  padding-right: 13px !important;
  padding-left: 13px !important;
  background-image: linear-gradient( 9.6deg,  rgba(31,179,237,1) 11.2%, rgba(17,106,197,1) 91.1% );
}

.btn-custom-light {
  display: inline-block;
  padding-top: 4.5px;
  padding-bottom: 8.5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 25px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.btn-custom-dark {
  display: inline-block;
  padding-top: 4.5px;
  padding-bottom: 8.5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}


.user-welcome {
  padding-top: 5px;
}

.padding-large {
  padding-top: 30px;
  padding-bottom: 30px;
}

.border-none {
  border: none;
}